#tres{
	width:650px;
	height:400px;
}

#dois{
	width:650px;
	height:400px;
}

#um{
	width:650px;
	height:400px;
}

p{
 	text-align: justify;
}
body{
	background: #F2F2F2;
	font-family: arial;
}

#legenda{
font-family: univers;
}
